!!! 5
%html
  = head

  %body.generic
    = menu
    
    .container
      %header.header
        = header
      
      %article.content{:role => 'main'}
        %header
          
        .content-body
          = contents
        
        %footer
      
      
      %footer.footer
        = footer
