!!! 5
%html
  = head

  %body
    .container.generic
      .header
        = header
        = menu

      .content{:role => 'main'}
        .page-header
          .breadcrumb= breadcrumb

        .page-content.entry-content
          = contents
  
      .footer
        = footer