!!! 5
%html
  = layout.head

  %body.index
    .wrapper
      %article.contents
        %header
          %h1= post.post_title
        = post.contents
        = post.pagination
      .sidebar
        = post.sidebar
      %footer
        = layout.footer
